Repository arhat-dev/dukkha, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, cicd, dependency

feat(actions): Add option `if` to skip action explicitly
  docs/generated/schema.json
  docs/tasks.md
  pkg/tools/_fixtures/actions/resolve/004-skip.yaml
  pkg/tools/action.go
  pkg/tools/action_test.go
  pkg/tools/actions_resolve.go
  pkg/tools/actions_resolve_test.go
  pkg/tools/hook.go
  pkg/tools/workflow/task_run.go
Labels: docs

chore(tools|buildah): Replace `skip` with `if` in step
  docs/generated/schema.json
  pkg/tools/buildah/task_xbuild.go
  pkg/tools/buildah/task_xbuild_step.go
Labels: docs

feat/action if (#150)
  docs/generated/schema.json
  docs/tasks.md
  pkg/tools/_fixtures/actions/resolve/004-skip.yaml
  pkg/tools/action.go
  pkg/tools/action_test.go
  pkg/tools/actions_resolve.go
  pkg/tools/actions_resolve_test.go
  pkg/tools/buildah/task_xbuild.go
  pkg/tools/buildah/task_xbuild_step.go
  pkg/tools/hook.go
  pkg/tools/workflow/task_run.go
Labels: docs

fix(shell): Fix PATH lookup for all builtins
  Makefile
  cicd/test/ci.yaml
  go.mod
  go.sum
  pkg/templateutils/filepath.go
  pkg/templateutils/shell_exec.go
  pkg/templateutils/shell_exec_unix.go
  pkg/templateutils/shell_exec_windows.go
  vendor/arhat.dev/pkg/exechelper/empty.s
  vendor/arhat.dev/pkg/exechelper/exec_start.go
  vendor/arhat.dev/pkg/exechelper/exec_sys_go1.13.go
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/pathhelper/abs.go
  vendor/arhat.dev/pkg/pathhelper/clean.go
  vendor/arhat.dev/pkg/pathhelper/constants.go
  vendor/arhat.dev/pkg/pathhelper/fspath.go
  vendor/arhat.dev/pkg/pathhelper/join.go
  vendor/arhat.dev/pkg/pathhelper/link.go
  vendor/arhat.dev/pkg/pathhelper/list.go
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/interp/api.go
  vendor/mvdan.cc/sh/v3/interp/builtin.go
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/handler_dukkha.go
Labels: cicd, dependency

fix(shell): Fix PATH lookup for all builtins (#151)
  Makefile
  cicd/test/ci.yaml
  go.mod
  go.sum
  pkg/templateutils/filepath.go
  pkg/templateutils/shell_exec.go
  pkg/templateutils/shell_exec_unix.go
  pkg/templateutils/shell_exec_windows.go
  vendor/arhat.dev/pkg/exechelper/empty.s
  vendor/arhat.dev/pkg/exechelper/exec_start.go
  vendor/arhat.dev/pkg/exechelper/exec_sys_go1.13.go
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/pathhelper/abs.go
  vendor/arhat.dev/pkg/pathhelper/clean.go
  vendor/arhat.dev/pkg/pathhelper/constants.go
  vendor/arhat.dev/pkg/pathhelper/fspath.go
  vendor/arhat.dev/pkg/pathhelper/join.go
  vendor/arhat.dev/pkg/pathhelper/link.go
  vendor/arhat.dev/pkg/pathhelper/list.go
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/interp/api.go
  vendor/mvdan.cc/sh/v3/interp/builtin.go
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/handler_dukkha.go
Labels: cicd, dependency

chore(deps): Update vendored packages
  go.mod
  go.sum
  vendor/github.com/pierrec/lz4/v4/writer.go
  vendor/golang.org/x/mod/internal/lazyregexp/lazyre.go
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/mod/module/pseudo.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/tools/go/ast/astutil/enclosing.go
  vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go117.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go118.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/modules.txt
Labels: dependency

chore(templatefuncs): Unify strings behavior
  docs/generated/template_funcs.md
  pkg/renderer/af/fixtures/001-oneline-spec.yaml
  pkg/templateutils/strings.go
  pkg/templateutils/template.go
  third_party/gomplate/funcs/strings.go
Labels: docs

fix(path): Fix path lookup in wine
  cicd/test/ci.yaml
  cicd/test/fixtures/001-path-lookup-native.sh
  cicd/test/fixtures/002-path-lookup-in-wine64.sh
  go.mod
  go.sum
  pkg/cmd/debug/cmd_test.go
  pkg/dukkha/ctx_rendering.go
  pkg/dukkha/env_values.go
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/pathhelper/abs.go
  vendor/arhat.dev/pkg/testhelper/cmdtesthelper/cmd_fixtures.go
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/handler_dukkha.go
Labels: cicd, dependency

fix(tools/golang): use package dir instead of import path
  go.mod
  go.sum
  pkg/dukkha/task_exec.go
  pkg/tools/golang/task_gotest.go
  pkg/tools/run.go
  vendor/arhat.dev/pkg/archconst/values.go
  vendor/arhat.dev/pkg/byteshelper/tostring.go
  vendor/modules.txt
Labels: dependency

arch: add x86sf, arm64v{8, 9} support
  go.mod
  go.sum
  pkg/constant/arch_apple.go
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/arch_variant.go
  pkg/constant/triple.go
  pkg/tools/golang/build.go
  pkg/tools/golang/build_test.go
  vendor/arhat.dev/pkg/archconst/values.go
  vendor/modules.txt
Labels: dependency

test: add winepath test
  cicd/test/ci.yaml
Labels: cicd

feat(template): add archconv.{SimpleArch, HardFloatArch}
  docs/env.md
  docs/generated/template_funcs.md
  go.mod
  go.sum
  pkg/cmd/env.go
  pkg/cmd/env_test.go
  pkg/constant/arch.go
  pkg/constant/arch_apple.go
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/arch_variant.go
  pkg/constant/env.go
  pkg/constant/triple.go
  pkg/dukkha/env_values.go
  pkg/sysinfo/utils.go
  pkg/templateutils/archconv.go
  pkg/templateutils/dukkha.go
  pkg/templateutils/eval.go
  pkg/templateutils/filepath.go
  pkg/templateutils/os.go
  pkg/templateutils/state.go
  pkg/templateutils/strconv.go
  pkg/templateutils/template.go
  pkg/tools/cosign/task_upload.go
  pkg/tools/golang/build.go
  pkg/tools/golang/build_test.go
  vendor/arhat.dev/pkg/archconst/conv.go
  vendor/arhat.dev/pkg/archconst/values.go
  vendor/arhat.dev/pkg/cpuhelper/arch.go
  vendor/arhat.dev/pkg/cpuhelper/arch_other.go
  vendor/arhat.dev/pkg/cpuhelper/arch_unix.go
  vendor/arhat.dev/pkg/cpuhelper/arch_windows.go
  vendor/arhat.dev/pkg/stringhelper/strings.go
  vendor/arhat.dev/pkg/versionhelper/values.go
  vendor/modules.txt
Labels: docs, dependency

chore(tpl): add funcs for cross platform handling
  docs/generated/template_funcs.md
  pkg/constant/arch.go
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/arch_variant.go
  pkg/constant/os.go
  pkg/constant/triple.go
  pkg/templateutils/archconv.go
  pkg/templateutils/dukkha.go
  pkg/templateutils/strings.go
  pkg/templateutils/template.go
  pkg/tools/golang/cgo.go
Labels: docs

feat(template): add os.Lookup and os.LookupFile
  cicd/test/ci.yaml
  docs/generated/template_funcs.md
  go.mod
  go.sum
  pkg/cmd/env.go
  pkg/constant/arch.go
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/kernel.go
  pkg/constant/kernel_test.go
  pkg/constant/os.go
  pkg/constant/os_docker.go
  pkg/constant/os_golang.go
  pkg/constant/os_oci.go
  pkg/constant/platform.go
  pkg/constant/triple.go
  pkg/dukkha/ctx_rendering.go
  pkg/sysinfo/info_unix.go
  pkg/templateutils/os.go
  pkg/templateutils/template.go
  pkg/tools/archive/task_create.go
  pkg/tools/golang/build_test.go
  pkg/tools/golang/cgo.go
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/handler_dukkha.go
Labels: docs, cicd, dependency

fix(template): revert os.MkdirAll default permission
  pkg/templateutils/os.go
Labels: none

test(windows): remove path override lookup
  cicd/test/ci.yaml
  pkg/templateutils/filepath.go
  pkg/templateutils/os.go
  pkg/templateutils/types.go
Labels: cicd

chore(cicd): update go version
  .dukkha.yaml
  README.md
  cicd/images/buildah.yaml
Labels: docs, cicd

chore(deps): update versions for cicd
  .github/workflows/deps.yaml
  .github/workflows/label.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/s2/README.md
  vendor/github.com/klauspost/compress/s2/decode.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/minio/minio-go/v7/api-bucket-versioning.go
  vendor/github.com/minio/minio-go/v7/api-get-object.go
  vendor/github.com/minio/minio-go/v7/api-list.go
  vendor/github.com/minio/minio-go/v7/api.go
  vendor/github.com/minio/minio-go/v7/pkg/signer/request-signature-v4.go
  vendor/github.com/minio/minio-go/v7/utils.go
  vendor/modules.txt
Labels: cicd, dependency

chore(task): update task reference spec
  .dukkha.yaml
  cicd/artifacts/ci.yaml
  cicd/images/ci.yaml
  cicd/lint/lint.yaml
  cicd/test/ci.yaml
  cicd/tidy.yaml
  docs/generated/schema.json
  docs/generated/template_funcs.md
  docs/tasks.md
  pkg/dukkha/task_ref.go
  pkg/dukkha/task_ref_test.go
  pkg/matrix/filter.go
  pkg/matrix/matrix.go
  pkg/matrix/matrix_test.go
  pkg/matrix/matrixfilter.go
  pkg/matrix/matrixfilter_test.go
  pkg/matrix/vector.go
  pkg/templateutils/os.go
  pkg/templateutils/strings.go
  pkg/templateutils/template.go
  pkg/templateutils/types.go
  pkg/templateutils/value.go
  pkg/tools/action.go
  pkg/tools/run_task.go
  pkg/tools/task.go
  pkg/tools/task_ref.go
Labels: docs, cicd

chore(cicd): update build scripts, fix deps
  cicd/artifacts/ci.yaml
  cicd/artifacts/golang.yaml
  cicd/artifacts/release-notes.md
  go.mod
  go.sum
  pkg/templateutils/utils.go
  vendor/arhat.dev/pkg/clihelper/cli_find.go
  vendor/arhat.dev/pkg/fshelper/find.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: cicd, dependency

chore: skip testing on macos
  .github/workflows/ci.yaml
Labels: cicd

chore(deps): update fshelper for linux/arm
  go.mod
  go.sum
  vendor/arhat.dev/pkg/fshelper/find_linux.go
  vendor/arhat.dev/pkg/fshelper/find_posix.go
  vendor/arhat.dev/pkg/fshelper/find_unix.go
  vendor/modules.txt
Labels: dependency

fix(textquery): fix json stream parsing
  pkg/templateutils/dukkha.go
Labels: none

chore(deps): update rs pakcage
  go.mod
  go.sum
  pkg/cmd/render/cmd_test.go
  pkg/conf/read_config_test.go
  pkg/diff/trie.go
  pkg/dukkha/test/testhelper.go
  pkg/matrix/matrix_test.go
  pkg/matrix/vector.go
  pkg/renderer/af/archivefile.go
  pkg/renderer/af/archivefile_test.go
  pkg/renderer/http/http_test.go
  pkg/renderer/input/input.go
  pkg/renderer/tpl/tpl.go
  pkg/renderer/transform/transform.go
  pkg/renderer/transform/transform_test.go
  pkg/renderer/utils.go
  pkg/templateutils/dukkha.go
  pkg/tools/action_test.go
  pkg/tools/actions_resolve_test.go
  pkg/tools/archive/utils_test.go
  pkg/tools/buildah/task_build_test.go
  pkg/tools/tests/task.go
  pkg/tools/utils_test.go
  vendor/arhat.dev/rs/.dukkha.yaml
  vendor/arhat.dev/rs/any.go
  vendor/arhat.dev/rs/field.go
  vendor/arhat.dev/rs/inherit.go
  vendor/arhat.dev/rs/init.go
  vendor/arhat.dev/rs/patch.go
  vendor/arhat.dev/rs/resolve.go
  vendor/arhat.dev/rs/typehint.go
  vendor/arhat.dev/rs/unmarshal.go
  vendor/arhat.dev/rs/yaml.go
  vendor/arhat.dev/rs/yaml_map.go
  vendor/modules.txt
Labels: dependency

fix(tools/archive): update tarball creation
  cicd/lint/lint.yaml
  go.mod
  go.sum
  pkg/tools/archive/fixtures/create/000-default-fromat.yaml
  pkg/tools/archive/fixtures/create/001-tar-default-compression-params.yaml
  pkg/tools/archive/fixtures/create/001-tar.yaml
  pkg/tools/archive/fixtures/create/002-tar-gzip.yaml
  pkg/tools/archive/fixtures/create/003-tar-bzip2.yaml
  pkg/tools/archive/fixtures/create/004-tar-lzma.yaml
  pkg/tools/archive/fixtures/create/005-tar-xz.yaml
  pkg/tools/archive/fixtures/create/006-tar-deflate.yaml
  pkg/tools/archive/fixtures/create/007-tar-zstd.yaml
  pkg/tools/archive/fixtures/create/101-zip-default-compression-params.yaml
  pkg/tools/archive/fixtures/create/101-zip.yaml
  pkg/tools/archive/fixtures/create/102-zip-deflate.yaml
  pkg/tools/archive/fixtures/create/103-zip-bzip2.yaml
  pkg/tools/archive/fixtures/create/104-zip-lzma.yaml
  pkg/tools/archive/fixtures/create/105-zip-xz.yaml
  pkg/tools/archive/fixtures/create/106-zip-gz-error.yaml
  pkg/tools/archive/fixtures/create/107-zip-zstd.yaml
  pkg/tools/archive/fmt_tar.go
  pkg/tools/archive/task_create.go
  pkg/tools/cosign/fixtures/sign/001-blob-sign-and-verify.yaml
  vendor/github.com/Masterminds/semver/v3/.gitignore
  vendor/github.com/Masterminds/semver/v3/.golangci.yml
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/collection.go
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/doc.go
  vendor/github.com/Masterminds/semver/v3/fuzz.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/modules.txt
Labels: cicd, dependency

chore(cicd): update artifacts build pipeline
  cicd/artifacts/archive.yaml
  cicd/artifacts/bin-name.tpl
  cicd/artifacts/ci.yaml
  cicd/artifacts/cosign.yaml
  cicd/artifacts/golang.yaml
  cicd/artifacts/test.yaml
  docs/renderers/T.md
Labels: docs, cicd

test(wine): fix windows executable path
  cicd/test/ci.yaml
Labels: cicd

fix(link): update func type of renderOnce
  pkg/cmd/diff/reasoning.go
  pkg/diff/diff.go
Labels: none

fix(cicd): update image build pipeline
  .github/workflows/ci.yaml
  cicd/images/buildah.yaml
  cicd/images/ci.yaml
Labels: cicd

fix(cicd): use template func any for truthy result
  cicd/images/ci.yaml
Labels: cicd

chore(deps): fix vendored packages
  go.mod
  go.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/s2/decode.go
  vendor/github.com/klauspost/compress/s2/encode.go
  vendor/github.com/klauspost/compress/s2/encode_best.go
  vendor/github.com/klauspost/compress/s2/encode_go.go
  vendor/github.com/klauspost/compress/s2/encodeblock_amd64.s
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/go.uber.org/atomic/.gitignore
  vendor/go.uber.org/atomic/.travis.yml
  vendor/go.uber.org/atomic/CHANGELOG.md
  vendor/go.uber.org/atomic/Makefile
  vendor/go.uber.org/atomic/README.md
  vendor/go.uber.org/atomic/bool.go
  vendor/go.uber.org/atomic/bool_ext.go
  vendor/go.uber.org/atomic/duration.go
  vendor/go.uber.org/atomic/duration_ext.go
  vendor/go.uber.org/atomic/error.go
  vendor/go.uber.org/atomic/float64.go
  vendor/go.uber.org/atomic/float64_ext.go
  vendor/go.uber.org/atomic/int32.go
  vendor/go.uber.org/atomic/int64.go
  vendor/go.uber.org/atomic/string.go
  vendor/go.uber.org/atomic/string_ext.go
  vendor/go.uber.org/atomic/time.go
  vendor/go.uber.org/atomic/time_ext.go
  vendor/go.uber.org/atomic/uint32.go
  vendor/go.uber.org/atomic/uintptr.go
  vendor/go.uber.org/atomic/unsafe_pointer.go
  vendor/modules.txt
Labels: dependency

docs(env): fix config option name
  docs/env.md
Labels: docs

fix(template): update func id indexing of static funcs
  docs/renderers/tengo.md
  docs/renderers/tpl.md
  pkg/renderer/tpl/tpl.go
  pkg/templateutils/funcs_helper.go
  pkg/templateutils/type.go
  third_party/golang/text/template/exec.go
  third_party/golang/text/template/funcs.go
Labels: docs

WIP: add renderer tl
  docs/renderers/tl.md
  pkg/renderer/tl/driver.go
  pkg/renderer/tl/internal/fmtsort/export_test.go
  pkg/renderer/tl/internal/fmtsort/sort.go
  pkg/renderer/tl/internal/fmtsort/sort_test.go
  pkg/renderer/tl/tlang/doc.go
  pkg/renderer/tl/tlang/dukkha.go
  pkg/renderer/tl/tlang/dukkha_test.go
  pkg/renderer/tl/tlang/exec.go
  pkg/renderer/tl/tlang/exec_test.go
  pkg/renderer/tl/tlang/funcs.go
  pkg/renderer/tl/tlang/helper.go
  pkg/renderer/tl/tlang/multi_test.go
  pkg/renderer/tl/tlang/option.go
  pkg/renderer/tl/tlang/parse/dukkha.go
  pkg/renderer/tl/tlang/parse/lex.go
  pkg/renderer/tl/tlang/parse/lex_test.go
  pkg/renderer/tl/tlang/parse/node.go
  pkg/renderer/tl/tlang/parse/parse.go
  pkg/renderer/tl/tlang/parse/parse_test.go
  pkg/renderer/tl/tlang/template.go
  pkg/renderer/tl/tlang/testdata/file1.tl
  pkg/renderer/tl/tlang/testdata/file2.tl
  pkg/renderer/tl/tlang/testdata/tmpl1.tl
  pkg/renderer/tl/tlang/testdata/tmpl2.tl
Labels: docs

chore(ci): disable external dukkha installation
  .github/workflows/ci.yaml
Labels: cicd

style: fix golang lint issues
  pkg/cmd/render/render_reader.go
  pkg/cmd/values_git.go
  pkg/constant/kernel.go
  pkg/dukkha/env_values.go
  pkg/dukkha/internal.go
  pkg/dukkha/test/context.go
  pkg/matrix/matrix_test.go
  pkg/renderer/tengo/driver.go
  pkg/renderer/tlang/driver_test.go
  pkg/templateutils/coll.go
  pkg/templateutils/hash.go
  pkg/templateutils/image_tag_test.go
  pkg/templateutils/misc.go
  pkg/templateutils/rand.go
  pkg/templateutils/strings.go
Labels: none

chore: update presets template file extension
  .dukkha.yaml
  cicd/lint/lint.yaml
  pkg/renderer/af/archivefile_test.go
  pkg/tools/action.go
Labels: cicd

fix(archconv): rename template funcs due to typo
  docs/generated/schema.json
  docs/generated/template_funcs.md
  pkg/constant/arch.go
  pkg/renderer/tengo/symbols.go
  pkg/templateutils/archconv.go
  pkg/templateutils/funcs.go
Labels: docs

chore: update output handling
  pkg/matrix/matrix_test.go
  pkg/matrix/matrixfilter.go
  pkg/output/cmd_exec.go
  pkg/output/task.go
  pkg/templateutils/dukkha.go
  pkg/templateutils/image_tag.go
  pkg/templateutils/strings.go
  pkg/templateutils/utils.go
  pkg/tools/run.go
Labels: none

style: fix golang linting issues
  pkg/constant/kernel.go
  pkg/tools/run.go
Labels: none

.github/labeler.yml:

docs:
- docs/**
- README.md

cicd:
- .github/**
- cicd/**

dependency:
- go.mod
- go.sum
- vendor/**
