Repository arhat-dev/dukkha, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, cicd, dependency

fix(cache): Fix cache lookup
  .dukkha.yaml
  .golangci.yml
  cicd/lint.yaml
  pkg/cache/two_tier.go
  pkg/cache/two_tier_test.go
  pkg/cache/types.go
  pkg/cmd/dukkha.go
  pkg/renderer/af/config.go
Labels: cicd

docs: Update generated schema
  docs/generated/schema.json
Labels: docs

test: Fix test failure caused by cache and matrix
  pkg/cache/two_tier.go
  pkg/cache/two_tier_test.go
  pkg/cmd/debug/debug_task_matrix.go
  pkg/cmd/debug/debug_task_spec.go
  pkg/cmd/run/cmd.go
  pkg/dukkha/task_ref_test.go
  pkg/matrix/filter.go
  pkg/matrix/matrix_test.go
  pkg/matrix/matrixfilter.go
  pkg/matrix/matrixfilter_test.go
  pkg/matrix/vector.go
  pkg/renderer/af/zip.go
Labels: none

docs: Update installation guide
  README.md
  docs/examples/golang-build/README.md
  docs/examples/image-build/README.md
Labels: docs

style: Fix golang linting issues
  pkg/matrix/entry.go
  pkg/matrix/filter.go
  pkg/matrix/vector.go
Labels: none

feat: Add kubectl tool support
  cmd/dukkha/addon/tools.go
  pkg/tools/kubectl/context.go
  pkg/tools/kubectl/task_apply.go
  pkg/tools/kubectl/task_delete.go
  pkg/tools/kubectl/task_diff.go
  pkg/tools/kubectl/task_exec.go
  pkg/tools/kubectl/task_get.go
  pkg/tools/kubectl/task_logs.go
  pkg/tools/kubectl/tool.go
Labels: none

refactor(conf): Group renderers
  .dukkha.yaml
  docs/examples/helm-charts/.dukkha.yaml
  docs/generated/schema.json
  docs/renderers/README.md
  docs/renderers/T.md
  docs/renderers/_doc_template.md
  docs/renderers/af.md
  docs/renderers/echo.md
  docs/renderers/env.md
  docs/renderers/file.md
  docs/renderers/git.md
  docs/renderers/http.md
  docs/renderers/input.md
  docs/renderers/s3.md
  docs/renderers/shell.md
  docs/renderers/tpl.md
  pkg/conf/config.go
  pkg/conf/config_test.go
  pkg/conf/gobal.go
  pkg/conf/renderers.go
  pkg/conf/tools.go
  pkg/renderer/af/archivefile.go
  pkg/renderer/cache_config.go
  pkg/renderer/file/driver.go
  pkg/renderer/git/git.go
  pkg/renderer/http/http.go
  pkg/renderer/s3/s3.go
  pkg/renderer/utils.go
Labels: docs

refactor(conf): Group renderers (#132)
  .dukkha.yaml
  docs/examples/helm-charts/.dukkha.yaml
  docs/generated/schema.json
  docs/renderers/README.md
  docs/renderers/T.md
  docs/renderers/_doc_template.md
  docs/renderers/af.md
  docs/renderers/echo.md
  docs/renderers/env.md
  docs/renderers/file.md
  docs/renderers/git.md
  docs/renderers/http.md
  docs/renderers/input.md
  docs/renderers/s3.md
  docs/renderers/shell.md
  docs/renderers/tpl.md
  pkg/conf/config.go
  pkg/conf/config_test.go
  pkg/conf/gobal.go
  pkg/conf/renderers.go
  pkg/conf/tools.go
  pkg/renderer/af/archivefile.go
  pkg/renderer/cache_config.go
  pkg/renderer/file/driver.go
  pkg/renderer/git/git.go
  pkg/renderer/http/http.go
  pkg/renderer/s3/s3.go
  pkg/renderer/utils.go
Labels: docs

fix: Replace invalid characters with dash for windows
  pkg/dukkha/context.go
Labels: none

fix(shell): Allow empty extension name
  cicd/vendor.patch
  docs/examples/kubernetes/source/deployment.yaml
  docs/examples/kubernetes/source/ingress.yaml
  docs/examples/kubernetes/source/templates/core/v1/pod.spec.yaml
  docs/examples/kubernetes/source/templates/labels.yaml
  pkg/dukkha/ctx_rendering.go
  pkg/dukkha/ctx_rendering_test.go
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/syntax/parser.go
  vendor/mvdan.cc/sh/v3/syntax/parser.go.orig
Labels: docs, cicd, dependency

chore: Create cache dir on demand
  pkg/conf/config.go
Labels: none

chore(cicd): Update golang build and test presets
  cicd/artifacts/golang.yaml
  cicd/test/golang.yaml
  docs/generated/template_funcs.md
  pkg/templateutils/os.go
Labels: docs, cicd

chore(arch): Add amd64v{1,2,3,4} and ppc64v{8,9}{,le}
  pkg/constant/arch.go
  pkg/constant/arch_apple.go
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/arch_variant.go
  pkg/constant/kernel_test.go
  pkg/constant/triple.go
  pkg/tools/golang/build.go
  pkg/tools/golang/build_test.go
Labels: none

feat(renderer|tpl): Support including plaintext template
  .dukkha.yaml
  cicd/artifacts/golang.yaml
  cicd/test/golang.yaml
  docs/generated/schema.json
  docs/renderers/tpl.md
  pkg/renderer/tpl/fixtures/002-use-spec.yaml
  pkg/renderer/tpl/fixtures/003-include-by-file-index.yaml
  pkg/renderer/tpl/fixtures/003-include-by-index.yaml
  pkg/renderer/tpl/fixtures/004-include-by-text-index.yaml
  pkg/renderer/tpl/spec.go
  pkg/renderer/tpl/tpl.go
Labels: docs, cicd

chore(ci): Update build matrix
  cicd/artifacts/matrix.yml
  cicd/images/buildah.yaml
Labels: cicd

chore(tools|buildah): Add cpu micro arch support to manifest
  pkg/tools/buildah/fixtures/manifest-platform-query/005-amd64-no-micro-arch.yaml
  pkg/tools/buildah/fixtures/manifest-platform-query/006-amd64-micro-arch.yaml
  pkg/tools/buildah/task_build.go
  pkg/tools/buildah/testdata/manifest-amd64.json
Labels: none

fix(cmd|render): Fix chdir option when no source specified
  cicd/lint.yaml
  cicd/lint/config/golangci-lint.yml
  cicd/lint/lint.yaml
  pkg/cmd/render/cmd_opts.go
Labels: cicd

fix(shell): Support /dev/null on all platforms
  pkg/templateutils/shell.go
Labels: none

chore(deps): Update vendored packages
  cicd/tidy.yaml
  cicd/vendor.patch
  go.mod
  go.sum
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/fshelper/symlinkat_unix.go
  vendor/arhat.dev/pkg/fshelper/symlinkat_windows.go
  vendor/arhat.dev/pkg/iohelper/devnull.go
  vendor/arhat.dev/pkg/pathhelper/abs.go
  vendor/arhat.dev/pkg/pathhelper/clean.go
  vendor/arhat.dev/pkg/pathhelper/constants.go
  vendor/arhat.dev/pkg/pathhelper/doc.go
  vendor/arhat.dev/pkg/pathhelper/fspath.go
  vendor/arhat.dev/pkg/pathhelper/join.go
  vendor/arhat.dev/pkg/pathhelper/link.go
  vendor/arhat.dev/pkg/pathhelper/list.go
  vendor/arhat.dev/pkg/pathhelper/name.go
  vendor/arhat.dev/pkg/pathhelper/utils.go
  vendor/modules.txt
  vendor/mvdan.cc/sh/v3/expand/expand.go
  vendor/mvdan.cc/sh/v3/interp/api.go
  vendor/mvdan.cc/sh/v3/interp/builtin.go
  vendor/mvdan.cc/sh/v3/interp/handler.go
  vendor/mvdan.cc/sh/v3/interp/runner.go
  vendor/mvdan.cc/sh/v3/interp/trace.go
  vendor/mvdan.cc/sh/v3/syntax/nodes.go
  vendor/mvdan.cc/sh/v3/syntax/printer.go
Labels: cicd, dependency

refactor: Add cacheFS, reduce filepath usage as much as possible
  pkg/dukkha/ctx_rendering.go
  pkg/tools/archive/utils.go
  pkg/tools/buildah/task_build.go
  pkg/tools/buildah/task_push.go
  pkg/tools/buildah/task_xbuild.go
  pkg/tools/buildah/task_xbuild_step.go
  pkg/tools/buildah/task_xbuild_step_copy.go
  pkg/tools/buildah/task_xbuild_step_copy_test.go
  pkg/tools/buildah/task_xbuild_step_from.go
  pkg/tools/buildah/task_xbuild_step_run.go
  pkg/tools/buildah/task_xbuild_step_set.go
  pkg/tools/cosign/task_sign.go
  pkg/tools/cosign/task_sign_image.go
  pkg/tools/cosign/task_upload.go
  pkg/tools/golang/task_gotest.go
Labels: none

fix(conf): Fix renderer name handling
  pkg/conf/config.go
Labels: none

feat(conf): Support renderer alias
  .dukkha.yaml
  cicd/artifacts/golang.yaml
  cicd/artifacts/matrix.yml
  cicd/images/matrix.yml
  cicd/lint/lint.yaml
  cicd/test/ci.yaml
  cicd/test/golang.yaml
  docs/gen_schema_test.go
  docs/generated/schema.json
  docs/generated/template_funcs.md
  pkg/conf/config.go
  pkg/dukkha/renderer.go
  pkg/renderer/af/archivefile.go
  pkg/renderer/echo/driver.go
  pkg/renderer/env/driver.go
  pkg/renderer/file/driver.go
  pkg/renderer/git/git.go
  pkg/renderer/http/http.go
  pkg/renderer/input/input.go
  pkg/renderer/s3/s3.go
  pkg/renderer/shell/driver.go
  pkg/renderer/tpl/tpl.go
  pkg/renderer/transform/transform.go
Labels: docs, cicd

feat(renderer): Support default attributes
  docs/generated/schema.json
  docs/renderers/README.md
  docs/renderers/file.md
  pkg/renderer/af/archivefile.go
  pkg/renderer/attributes.go
  pkg/renderer/echo/driver.go
  pkg/renderer/echo/driver_test.go
  pkg/renderer/env/driver.go
  pkg/renderer/env/driver_test.go
  pkg/renderer/file/driver.go
  pkg/renderer/file/driver_test.go
  pkg/renderer/git/git.go
  pkg/renderer/git/git_test.go
  pkg/renderer/http/http.go
  pkg/renderer/input/input.go
  pkg/renderer/renderer.go
  pkg/renderer/s3/s3.go
  pkg/renderer/shell/driver.go
  pkg/renderer/shell/driver_test.go
  pkg/renderer/tpl/tpl.go
  pkg/renderer/tpl/tpl_test.go
  pkg/renderer/transform/transform.go
  pkg/renderer/transform/transform_test.go
Labels: docs

feat(template): Add git and host namespace
  docs/generated/template_funcs.md
  pkg/templateutils/dukkha.go
  pkg/templateutils/git.go
  pkg/templateutils/host.go
  pkg/templateutils/template.go
Labels: docs

style: Fix golang linting issue
  pkg/cmd/render/render_file.go
  pkg/conf/global.go
  pkg/conf/renderers.go
  pkg/conf/tools.go
  pkg/dukkha/task.go
  pkg/renderer/file/driver_test.go
  pkg/renderer/renderer.go
  pkg/renderer/shell/driver_test.go
  pkg/renderer/utils.go
  pkg/templateutils/filepath.go
  pkg/templateutils/shell_exec.go
  pkg/templateutils/shell_exec_unix.go
  pkg/templateutils/shell_exec_windows.go
  pkg/tools/archive/zip.go
  pkg/tools/buildah/task_xbuild.go
  pkg/tools/buildah/task_xbuild_step_run.go
  pkg/tools/docker/task_login.go
  pkg/tools/docker/task_push.go
  pkg/tools/task.go
Labels: none

chore(deps): Update OSFS package
  go.mod
  go.sum
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/modules.txt
Labels: dependency

fix(shell): Fix executable lookup from PATH list
  pkg/templateutils/shell_exec.go
  pkg/templateutils/shell_exec_windows.go
Labels: none

test(renderer|tpl): Fix test case for windows
  pkg/renderer/tpl/fixtures/003-include-by-file-index.yaml
Labels: none

style(go): Fix linting issues
  pkg/templateutils/shell_exec.go
Labels: none

test: Update gitattributes for testdata
  .gitattributes
  pkg/renderer/tpl/fixtures/003-include-by-file-index.yaml
Labels: none

chore(deps): Update fshelper package for symlinkat build tag
  go.mod
  go.sum
  vendor/arhat.dev/pkg/fshelper/symlinkat_other.go
  vendor/arhat.dev/pkg/fshelper/symlinkat_unix.go
  vendor/modules.txt
Labels: dependency

fix(cache): Fix cacheFS creation
  pkg/dukkha/context.go
  pkg/dukkha/ctx_rendering.go
  pkg/tools/buildah/task_xbuild_step_run.go
Labels: none

style: Fix golang linting issues
  pkg/conf/config_test.go
  pkg/matrix/matrix_test.go
  pkg/renderer/af/archivefile_test.go
  pkg/renderer/file/driver_test.go
  pkg/renderer/http/http_test.go
Labels: none

chore(deps): Update fshelper
  go.mod
  go.sum
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/iohelper/devnull.go
  vendor/arhat.dev/pkg/iohelper/read_input_line.go
  vendor/arhat.dev/pkg/iohelper/timeout_reader.go
  vendor/arhat.dev/pkg/iohelper/write.go
  vendor/arhat.dev/pkg/kernelconst/kernel.go
  vendor/arhat.dev/pkg/pathhelper/clean.go
  vendor/arhat.dev/pkg/pathhelper/join.go
  vendor/arhat.dev/pkg/pathhelper/utils.go
  vendor/modules.txt
Labels: dependency

feat(conf): Support text config inclusion
  .dukkha.yaml
  README.md
  docs/README.md
  docs/constants.md
  docs/filesystem.md
  docs/gen_schema_test.go
  docs/generated/schema.json
  docs/renderers.md
  docs/shells.md
  docs/tasks.md
  docs/tools.md
  docs/tools/buildah.md
  docs/tools/skopeo.md
  docs/tools/workflow.md
  docs/tutorial/99-advanced/README.md
  docs/tutorial/99-advanced/define-tasks-of-same-kind-in-different-files.md
  docs/tutorial/99-advanced/include-remote-files.md
  pkg/cmd/debug/cmd_test.go
  pkg/cmd/dukkha.go
  pkg/conf/config.go
  pkg/conf/include.go
  pkg/conf/read_config.go
  pkg/conf/read_config_test.go
  pkg/dukkha/ctx_rendering.go
Labels: docs

chore(tpl): Use lower case keys for git/host object
  docs/env.md
  docs/gen_template_func_test.go
  docs/generated/template_funcs.md
  docs/tasks.md
  pkg/dukkha/env_values.go
  pkg/templateutils/git.go
  pkg/templateutils/host.go
  pkg/templateutils/template.go
Labels: docs

fix(tools|buildah): Fix image id dir ensure
  pkg/tools/buildah/task_build.go
  pkg/tools/buildah/task_push.go
  pkg/tools/buildah/task_xbuild.go
Labels: none

feat(renderer|file): Add config option `base_path`
  .dukkha.yaml
  cicd/lint/lint.yaml
  cicd/test/ci.yaml
  docs/generated/schema.json
  docs/renderers/file.md
  pkg/cmd/dukkha.go
  pkg/conf/config.go
  pkg/renderer/file/driver.go
  pkg/renderer/file/driver_test.go
Labels: docs, cicd

fix(tools|golang): Fix test workdir fs
  pkg/tools/golang/task_gotest.go
Labels: none

feat(renderer|file): Add config option `base_path` (#149)
  .dukkha.yaml
  cicd/lint/lint.yaml
  cicd/test/ci.yaml
  docs/generated/schema.json
  docs/renderers/file.md
  pkg/cmd/dukkha.go
  pkg/conf/config.go
  pkg/renderer/file/driver.go
  pkg/renderer/file/driver_test.go
  pkg/tools/golang/task_gotest.go
Labels: docs, cicd

.github/labeler.yml:

docs:
- docs/**
- README.md

cicd:
- .github/**
- cicd/**

dependency:
- go.mod
- go.sum
- vendor/**
