Repository arhat-dev/dukkha, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, cicd, dependency

.github/labeler.yml:

docs:
- docs/**
- README.md

cicd:
- .github/**
- cicd/**

dependency:
- go.mod
- go.sum
- vendor/**

docs(renderer): update tlang description
  docs/renderers/tengo.md
  docs/renderers/tlang.md
  docs/renderers/tmpl.md
Labels: docs

fix(re): fix regexp namespace replace funcs
  docs/generated/template_funcs.md
  pkg/renderer/tengo/symbols.go
  pkg/templateutils/funcs.go
  pkg/templateutils/regexp.go
  pkg/templateutils/regexp_test.go
Labels: docs

fix(ci): fix renderer used for alias
  cicd/images/ci.yaml
Labels: cicd

chore(ci): update dukkha config files
  .dukkha.yaml
  cicd/artifacts/golang.yaml
  cicd/test/ci.yaml
  cicd/test/golang.yaml
Labels: cicd

docs: update description to config loading
  docs/README.md
Labels: docs

style: fix import lines
  internal/types_test.go
Labels: none

fix(fs.Exists): do not return error when path doesn't exist
  pkg/templateutils/fs.go
Labels: none

chore(output): reduce spaces between commands
  pkg/output/cmd_exec.go
Labels: none

chore: invert meaning of nil and empty matrix_filter
  cicd/artifacts/ci.yaml
  cicd/images/ci.yaml
  cicd/lint/lint.yaml
  cicd/test/ci.yaml
  cicd/tidy.yaml
  docs/generated/schema.json
  docs/tasks.md
  pkg/matrix/matrix.go
  pkg/tools/task.go
  pkg/tools/task_ref.go
Labels: docs, cicd

fix(matrix_filter): always add exclude entries as ignore filter
  docs/generated/schema.json
  go.mod
  go.sum
  pkg/dukkha/env_values.go
  pkg/matrix/filter.go
  pkg/matrix/matrix.go
  pkg/matrix/matrix_test.go
  pkg/matrix/utils.go
  pkg/matrix/utils_test.go
  pkg/sliceutils/string.go
  pkg/templateutils/image_tag_test.go
  vendor/arhat.dev/pkg/matrixhelper/cartesian_product.go
  vendor/arhat.dev/pkg/testhelper/cmdtesthelper/cmd_fixtures.go
  vendor/modules.txt
Labels: docs, dependency

style: fix golang linting issues
  pkg/matrix/matrix.go
  pkg/sliceutils/string.go
Labels: none

feat(renderer): add tlang action in T renderer
  cicd/artifacts/cosign.yaml
  cicd/artifacts/github.yaml
  cicd/images/cosign.yaml
  docs/generated/schema.json
  docs/renderers/T.md
  pkg/cmd/render/cmd_test.go
  pkg/conf/global.go
  pkg/dukkha/context.go
  pkg/dukkha/env.go
  pkg/dukkha/env_values.go
  pkg/dukkha/shells.go
  pkg/dukkha/task_exec.go
  pkg/plugins/internal/packages.go
  pkg/renderer/af/archivefile_test.go
  pkg/renderer/env/driver_test.go
  pkg/renderer/transform/driver.go
  pkg/renderer/transform/fixtures/003-op-template-map.yaml
  pkg/renderer/transform/fixtures/004-op-tlang-num.yaml
  pkg/renderer/transform/fixtures/005-op-tlang-num-str.yaml
  pkg/templateutils/eval.go
  pkg/templateutils/fs.go
  pkg/templateutils/image_tag_test.go
  pkg/templateutils/template.go
  pkg/tools/action.go
  pkg/tools/buildah/task_xbuild_step_set.go
  pkg/tools/buildah/task_xbuild_step_set_test.go
  pkg/tools/cosign/task_sign_image.go
  pkg/tools/golang/build.go
  pkg/tools/golang/build_test.go
  pkg/tools/golang/cgo.go
  pkg/tools/golang/task_gobuild_test.go
  pkg/tools/golang/task_gotest.go
  pkg/tools/run.go
  pkg/tools/run_task.go
  pkg/tools/task.go
  pkg/tools/tests/task.go
  pkg/tools/tool.go
Labels: docs, cicd

chore: add template func fs.IsFile
  docs/generated/schema.json
  docs/generated/template_funcs.md
  pkg/templateutils/fs.go
  pkg/templateutils/funcs.go
  pkg/templateutils/strings.go
  pkg/tools/buildah/task_xbuild_step_run.go
Labels: docs

feat(arch): add zig arch mapping
  docs/generated/template_funcs.md
  pkg/constant/arch_mapping.go
  pkg/constant/arch_test.go
  pkg/constant/triple.go
  pkg/constant/triple_test.go
  pkg/matrix/matrix.go
  pkg/renderer/tengo/symbols.go
  pkg/templateutils/archconv.go
  pkg/templateutils/funcs.go
  pkg/templateutils/template.go
Labels: docs

opt(conf): parallel config loading
  pkg/cmd/debug/cmd_test.go
  pkg/cmd/dukkha.go
  pkg/conf/read_config.go
  pkg/conf/read_config_test.go
  pkg/conf/syncgroup.go
  pkg/conf/syncgroup_test.go
Labels: none

style: fix golang linting issues
  docs/generated/schema.json
  go.mod
  go.sum
  pkg/cmd/debug/cmd_test.go
  pkg/cmd/dukkha.go
  pkg/conf/read_config.go
  pkg/conf/read_config_test.go
  pkg/conf/syncgroup_test.go
  pkg/renderer/af/rar.go
  pkg/renderer/tengo/driver.go
  pkg/tools/action.go
  pkg/tools/archive/task_create.go
  pkg/tools/buildah/task_build.go
  pkg/tools/buildah/task_login.go
  pkg/tools/buildah/task_push.go
  pkg/tools/buildah/task_xbuild.go
  pkg/tools/cosign/task_sign.go
  pkg/tools/cosign/task_sign_image.go
  pkg/tools/cosign/task_upload.go
  pkg/tools/docker/task_build.go
  pkg/tools/docker/task_login.go
  pkg/tools/docker/task_push.go
  pkg/tools/git/task_clone.go
  pkg/tools/github/task_release.go
  pkg/tools/golang/task_gobuild.go
  pkg/tools/golang/task_gotest.go
  pkg/tools/helm/task_index.go
  pkg/tools/helm/task_package.go
  pkg/tools/shell/tool.go
  pkg/tools/task_test.go
  pkg/tools/tests/task.go
  pkg/tools/tool_test.go
  pkg/tools/utils.go
  pkg/tools/workflow/task_run.go
  pkg/tools/workflow/task_wftest.go
  vendor/arhat.dev/pkg/synchain/synchain.go
  vendor/github.com/weaveworks/schemer/definition/comment.go
  vendor/modules.txt
Labels: docs, dependency

opt(conf): parallel config loading
  go.mod
  go.sum
  pkg/cmd/debug/cmd_test.go
  pkg/cmd/dukkha.go
  pkg/cmd/utils/completion_test.go
  pkg/conf/config.go
  pkg/conf/config_test.go
  pkg/tools/shell/tool.go
  vendor/arhat.dev/rs/init.go
  vendor/arhat.dev/rs/unmarshal.go
  vendor/modules.txt
Labels: dependency

chore(deps): update vendored rs package
  go.mod
  go.sum
  vendor/arhat.dev/rs/unmarshal.go
  vendor/modules.txt
Labels: dependency

chore(cache): update comments and reduce allocation
  pkg/cache/cache.go
  pkg/cache/two_tier.go
  pkg/cache/two_tier_test.go
  pkg/cache/types.go
  pkg/cache/types_test.go
  pkg/conf/config_test.go
Labels: none

docs: update comments
  pkg/diff/diff_test.go
  pkg/diff/trie_test.go
  pkg/matrix/entry.go
  pkg/matrix/filter.go
  pkg/matrix/matrix.go
  pkg/matrix/matrixfilter.go
  pkg/matrix/vector.go
  pkg/templateutils/image_tag_test.go
Labels: none

docs: update generated schema
  docs/generated/schema.json
Labels: docs

test(renderer): trim space of awk output for testing
  pkg/renderer/transform/fixtures/301-op-awk-countword.yaml
  pkg/renderer/transform/fixtures/302-op-awk-tsv.yaml
Labels: none

fix(conf): report error properly
  go.mod
  go.sum
  pkg/conf/read_config.go
  pkg/tools/task.go
  pkg/tools/tool.go
  vendor/arhat.dev/pkg/archconst/spec.go
  vendor/arhat.dev/pkg/archconst/values.go
  vendor/arhat.dev/pkg/clihelper/cli_find.go
  vendor/arhat.dev/pkg/cpuhelper/arch.go
  vendor/arhat.dev/pkg/cpuhelper/cpu_x86.go
  vendor/arhat.dev/pkg/cpuhelper/types.go
  vendor/arhat.dev/pkg/exechelper/exec_start.go
  vendor/arhat.dev/pkg/exechelper/exec_sys_go1.13.go
  vendor/arhat.dev/pkg/exechelper/tty_unix.go
  vendor/arhat.dev/pkg/fshelper/find.go
  vendor/arhat.dev/pkg/fshelper/find_unix.go
  vendor/arhat.dev/pkg/fshelper/osfs.go
  vendor/arhat.dev/pkg/log/logger_zap.go
  vendor/arhat.dev/pkg/numhelper/parse.go
  vendor/arhat.dev/pkg/pathhelper/lookup.go
  vendor/arhat.dev/pkg/stringhelper/types.go
  vendor/arhat.dev/pkg/testhelper/cmdtesthelper/cmd_fixtures.go
  vendor/arhat.dev/pkg/textquery/query.go
  vendor/arhat.dev/rs/.dukkha.yaml
  vendor/modules.txt
Labels: dependency

chore: skip resolving other fields of action when action skipped
  docs/generated/schema.json
  pkg/tools/_fixtures/actions/resolve/004-skip.yaml
  pkg/tools/action.go
  pkg/tools/actions_resolve.go
  pkg/tools/actions_resolve_test.go
Labels: docs
